@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-light: #5a5e64;
  --Accent-1: #1c2434;
  --Accent-2: #3c50e0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Layout styles */

.outer-wrapper{
  @apply w-full flex justify-center items-center px-7;
}

.inner-wrapper {
  @apply w-full max-w-[1200px] flex items-center;
}

.flex-container-row {
  @apply flex justify-center items-center;
}

/* Heading common styles */
h1 {
  @apply text-4xl font-black leading-[50px];
}

p {
  @apply font-medium;
}

/* Button styles */

.button-style-primary {
  @apply bg-background text-accent2 font-extrabold py-2 px-7 border-l-2 border-b-2 border-accent2 rounded-sm hover:bg-accent2 hover:text-background;
}

.button-style-secondary {
  @apply bg-accent1 flex justify-center items-center gap-2 py-4 px-7 text-lg font-semibold rounded-sm hover:bg-accent2;
}

.button-style-transperant {
  @apply bg-accent2 text-background drop-shadow-md font-semibold py-2 px-4 hover:bg-accent1 bg-opacity-15 hover:text-background rounded-sm;
}